
@{ }

<html>
<head>
    <meta charset="utf-8" />
    <title>Чатик</title>
</head>
<body>

    <div id="header"></div><br />
    
        <div id="inputForm">
            <input type="text" autocomplete="off" id="message" />
            <input type="button" id="sendBtn" value="Отправить" />
        </div>
        <div id="chatroom"></div>


    <script src="js/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        let hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/chat")
            .build();
        hubConnection.start();

        let userName = "@User.Identity.Name";
        // получение сообщения от сервера
        hubConnection.on('Send', function (message, userName) {

            // создаем элемент <b> для имени пользователя
            let userNameElem = document.createElement("b");
            userNameElem.appendChild(document.createTextNode(userName + ': '));

            // создает элемент <p> для сообщения пользователя
            let elem = document.createElement("p");
            elem.appendChild(userNameElem);
            elem.appendChild(document.createTextNode(message));

            var firstElem = document.getElementById("chatroom").firstChild;
            document.getElementById("chatroom").insertBefore(elem, firstElem);

        });

        // отправка сообщения на сервер
        document.getElementById("sendBtn").addEventListener("click", function (e) {
            let message = document.getElementById("message").value;
            if (message != "") {
                hubConnection.invoke("Send", message, userName);
                document.getElementById("message").value = "";
            }
        });

        document.getElementById("message").addEventListener('keyup', function (e) {
            if (event.code === 'Enter') {
                let message = document.getElementById("message").value;
                if (message != "") {
                    hubConnection.invoke("Send", message, userName);
                    document.getElementById("message").value = "";
                }
            }
        });
    </script>
</body>
</html>
